<div>
    {{#if products}}
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Titulo</th>
                <th scope="col">Precio</th>
                <th scope="col">Imagen</th>
              </tr>
            </thead>
            <tbody>
                {{#each products}}
                    <tr>
                        <th>{{id}}</th>
                        <th>{{title}}</th>
                        <th>{{price}}</th>
                        <th><img src="{{thumbnail}}" alt="{{title}}" class="img-thumbnail"></th>
                      </tr>
                {{/each}}
            </tbody>
          </table>
    {{else}}
        <p class="alert alert-danger">No hay productos</p>
    {{/if}}
    <button type="button" onclick="location.href='../'" class="btn btn-info">Cargar Productos</button>
</div>